.video_translator_container {
  height: 100%;
  .subtitle_container {
    padding: 0 0 0 24px;
    height: 100%;
  }

  .segment_container {
    padding-right: 16px;
  }

  .subtitle_time_segment {
    padding-bottom: 0px;
  }

  .subtitle_time_segment_active {
    color: blue;
  }

  .subtitle_segment_preference {
    padding-bottom: 8px;
  }

  .subtitle_segment_actions {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    justify-content: flex-end;
    align-items: center;

    .subtitle_segment_action_item {
      color: #adadad;
      font-size: 12px;
    }
  }

  .subtitle_input {
    background-color: #f0f0f0;
  }
}
