.player_container {
  height: 450px;
  position: relative;
  .video_container {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .subtitle_container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40;
  }
  .video {
    height: auto;
    width: 100%;
  }
}
