.input_outer {
  // height: 60px;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: inherit;

  input {
    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
    font-size: 18px;
    height: 36px;
    width: 100%;
  }
  input:focus {
    outline: none;
  }
}
